<% @page_title = 'Question - New' %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-info">
        <div class="panel-heading"><h4> Add a new question</h4></div>
        <div class="panel-body">
          <%= form_for @question, url: questions_path  do |f|%>
            <%= render partial: 'form', locals: {f: @question } %>
            <%= f.submit('Save question', class: 'btn btn-info')%>
						<%= link_to 'Cancel', questions_path, class: 'btn btn-warning pull-right' %>
          <% end %>
        </div>
      </div>
    </div> <!--end column-->
  </div> <!--end row-->
</div>
