<div class="container" >



</div>

<h1>Question#update</h1>
<p>
    <% if @question.inspect %>
        <p> Successful update </p>
    <% else %>
        <p> A problem was encountered during the update
    <% end %>
</p>
