<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading"><h2>Teams List</h2></div>
				<div class="panel-body">
					<% if Team.count==0 %>
						<h4>No teams yet, would you like to create a new one?</h4>
					<% else  %>
						<ol>
							<% @teams.each do |x| %>
								<li><%= link_to x.title, team_path(x) %></li>
							<% end %>
						</ol>
					<% end %>
					<form class="form" method="get" action="<%= new_team_path %>">
						<div class="form-inline">
							<label for="number_of_questions">Number of members:</label>
							<input type="text" name="number_of_questions" maxlength="3">
							<input type="submit" class="btn btn-info" value="Go!">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>