<% @page_title='Admin dashboard' %>
<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading"><h1>Admin dashboard</h1></div>
		<div class="panel-body">
			<div>
				<%= link_to 'Questionnaires', questionnaires_path, class: 'btn btn-lg btn-info' %><br><br>
				<%= link_to 'Team members', users_path, class: 'btn btn-info btn-lg' %><br><br>
				<%= link_to 'Questions', questions_path, class: 'btn btn-info btn-lg' %><br><br>
				<%= link_to 'Settings', edit_user_path(current_user), class: 'btn btn-info btn-lg' %><br><br>
			</div>
		</div>
	</div>
</div>