<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading"><h4>Add a new user</h4></div>
        <div class="panel-body">
          <%= form_for @user, url: users_path  do |f| %>
						<%= render partial: 'users/form', locals: {f: f} %>
						<div>
							<%= f.submit('Add user', class: 'btn btn-primary pull-left')%>
							<%= link_to "Cancel and go back", users_path, class: 'btn btn-warning pull-right' %>
						</div>
          <% end %>
        </div>
      </div>
    </div> <!--end column-->
  </div> <!--end row-->
</div>
