<div class="container">
    <div class="jumbotron">
        <h3>FR Application<strong>360 degree Feedback </strong>ergo</h3>
				<div class="well-lg">
					<%=  link_to 'Login as admin', access_admin_login_url, class: 'btn btn-primary' %>
					</div>
					<div class="well-lg">
						<%=  link_to 'Member login', access_user_login_path , class: 'btn btn-primary' %>
					</div>
    </div>

	<h1>Users Application</h1>



</div>