<% @page_title= 'User login' %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>
            User Login
          </h4>
        </div>
        <div class="panel-body">
          <%= form_tag(action: :attempt_login, class: 'form-control')%>
          <%= label_tag :email,'Email address', class: 'form-label' %>
          <%= text_field_tag :email, '', placeholder: 'Enter your email' , class: 'form-control'%><br>
          <%= submit_tag('Login', class: 'btn btn-primary')%>
        </div>
      </div>
    </div>
  </div>
</div>