<div class="container-fluid">
    <div class="label-info">Welcome to RF360</div>
    <div class="container" >

      <table>
        <th>
        <td><%= link_to 'Questions Page', questions_url ,:class => 'panel-danger'%></td><br />
        <td><%= link_to 'Members Pages', {:controller => :members, :action => :index } %></td>

        </th>
      </table>
    </div>


</div>
