<div class="container-fluid">
    <div class="container" >

        <div class="btn btn-info"> <%= link_to 'Questions Page', questions_url ,:class => 'panel-danger'%></div>
        <br /><br /><br />
        <div class="btn btn-info"><%= link_to 'Users Pages', users_path %></div>

    </div>

</div>
