<% @page_title='Questionnaire - Edit' %>
<div class="container">
	<h2>Edit questionnaire</h2>
	<%= form_for @questionnaire, url: questionnaire_path(@questionnaire) do |f| %>
		<%= render partial: 'form', locals:{ f: f} %>
		<%= f.submit('Save new questionnaire', class: 'btn btn-info') %>
	<% end %>
</div>
