<% @page_title='New questionnaire' %>
<div class="container">
	<%= form_for @questionnaire, url: questionnaires_path do |f| %>
		<%= render partial: 'questionnaires/form', locals:{ f: f} %>
		<%= f.submit("Save new questionnaire") %>
	<% end %>
</div>
