<% @page_title='New questionnaire' %>
<div class="container">
	<h2>Create questionnaire</h2>
	<%= form_for @questionnaire, url: questionnaires_path do |f| %>
		<%= render partial: 'form', locals:{ f: f} %>
		<%= f.submit('Save new questionnaire', class: 'btn btn-info') %>
	<% end %>
</div>
