<div class="form-group">
  <%= f.label :comment, 'Comment:<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>'.html_safe %><br>
  <%= f.text_area :comment, rows: 3, placeholder: 'Add your comment here' , class: 'form-control' %>
</div>
