<% @page_title='Review details' %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<div class="panel-info">
				<div class="panel-heading"><h3>Review of <%= @performance_review.reviewee_id %></h3></div>
			</div>
		</div>
		<% @performance_review.feedbacks.each do |x| %>

		<% end %>
	</div>
</div>