/*
 *= require font-awesome
 */

.field_with_errors{
	border: 2px solid red;
	border-radius: 4px;

}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.glyphicon{
	font-size: 15px;
}
.green, .green a {
	color: limegreen;
}
