<% if object && object.errors.size > 0%>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h4>
				<%= pluralize(object.errors.size, 'error') %> prohibited this record from being saved
			</h4>
		</div>
		<div class="panel-body">
		<p>There were problem with the following fields:</p>
		<ul>
		<% object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
	</div>
<% end %>