<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand">FR 360</a>
    </div>
    <div>
      <ul class="nav navbar-nav nav-pills">
        <% Navigation.all.each do |nav| %>
            <li role="presentation" class="<%= is_active?(nav.permalink)%>"><%= link_to nav.title , nav.permalink %> </li>
        <% end%>
      </ul>
      <ul class="nav navbar-right">
        <li><%= link_to 'End session', access_logout_path %></li>
      </ul>
    </div>
</nav>