<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <a class="navbar-brand">FR360</a>

      <ul class="nav nav-pills" style="{display: inline}">

        <% #Attempt to use navigation from the application controller failed%>
        <% #navigations.each do |nav| %>
        <% Navigation.all.each do |nav| %>
            <li role="presentation" <%= 'class=' + (self.controller.to_s.capitalize==nav.title.capitalize ? 'active':'') %> ><%= link_to nav.title , nav.permalink %> </li>
        <% end%>
      </ul>

    </div><!--/.nav-collapse -->

  </div><!--/.container-fluid -->
</div>