<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<div class="panel panel-success">
				<div class="panel-heading"><h4>Logged in as <%= current_user.full_name %></h4></div>
				<div class="panel-body">
					<table class="table table-bordered table-striped">
						<tr>
							<th>Team Member</th>
							<th>Action</th>
						</tr>
						<% User.all.each do |user|%>
							<tr>
								<td>
									<%= user.full_name %>
								</td>
								<td>
									<% performance_review = PerformanceReview.completed(current_user.id, user.id).first  %>
									<% if performance_review.blank? %>
										<%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, new_user_performance_review_path(user.id) %>
									<% else %>
										<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe , user_performance_review_path(user_id: user.id, id: performance_review.id) %>
								<% end %>
									</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

