<% #@page_title='Reviews' %>
<div class="container">
	<% if @feedbacks.count==0 %>
		<div class="alert alert-info">
			No Feed backs reveived yet
		</div>
	<% else %>
		<% # @feedbacks.inspect %>
		<% @questions.each do |x| %>
			<div class="panel panel-success">
				<div class="panel-heading"><h4><%= x.description %></h4></div>
				<div class="panel-body">
					<% @feedbacks.each do |y| %>
						<% p y.inspect %>
						<% if y[:question_id]==x.id %>
							<div>
									<strong>Feed back: </strong><%= y.comment %>
									<strong>Rating:</strong><span class="text-right"> <%= "#{y.rating}/#{x.max_rate}"  %></span>
							</div><hr>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>